__pycache__/
*.py[cod]
output/
input/
!input/example.png
models/
temp/
custom_nodes/
!custom_nodes/example_node.py.example
extra_model_paths.yaml
/.vs
/custom_nodes.disabled/
.idea
.venv
/custom_nodes/ComfyUI-QualityOfLifeSuit_Omar92/src/__init__.py
/custom_nodes/ComfyUI-QualityOfLifeSuit_Omar92/Update/__init__.py
/web/extensions/comfyui-manager/comfyui-manager.js
/utils/create_service.py
/log.txt
/web/extensions/README.md
/saved_requests.json

/.idea